<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('球队修改')"/>
</head>
<body>
<form class="layui-form" action="" th:object="${team}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="*{id}" name="id" autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">球队名称</label>
                    <div class="layui-input-block">
                        <input th:value="*{name}" type="text" name="name" autocomplete="off"
                               placeholder="球队名称" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">球队昵称</label>
                    <div class="layui-input-block">
                        <input th:value="*{nickname}" type="text" name="nickname" autocomplete="off"
                               placeholder="球队昵称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">成立年份</label>
                    <div class="layui-input-block">
                        <input th:value="*{foundationYear}" type="date" name="foundationYear" autocomplete="off"
                               placeholder="成立年份" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属联赛ID</label>
                    <div class="layui-input-block">
                        <input th:value="*{leagueId}" type="number" name="leagueId" autocomplete="off"
                               placeholder="所属联赛ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">主场名称</label>
                    <div class="layui-input-block">
                        <input th:value="*{stadium}" type="text" name="stadium" autocomplete="off"
                               placeholder="主场名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">球队所在地</label>
                    <div class="layui-input-block">
                        <input th:value="*{location}" type="text" name="location" autocomplete="off"
                               placeholder="球队所在地" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">主教练姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="coach" th:value="*{coach}" autocomplete="off"
                               placeholder="主教练姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">球队官方网站</label>
                    <div class="layui-input-block">
                        <input th:value="*{website}" type="text" name="website" autocomplete="off"
                               placeholder="球队官方网站" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">国籍</label>
                    <div class="layui-input-block">
                        <input th:value="*{logoUrl}" type="text" name="球队标志URL" autocomplete="off"
                               placeholder="球队标志URL" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="user-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath + "/teams";

        form.on('submit(user-update)', function (data) {
            $.ajax({
                url: MODULE_PATH + '/' + data.field.id,
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("user-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>